.corpoTelaInicial {
    max-width: 300px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 40px;
    padding-bottom: 40px;
    opacity: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
}

.corpoTelaInicial:hover{
    max-width: 300px;
    margin: 100px auto 0;
    background: rgb(231, 170, 247);
    border-radius: 15px;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 40px;
    padding-bottom: 40px;
    opacity: 100%;
    color: rgb(70, 4, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpoTelaInicial a{
    height: 82px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid rgb(95, 2, 95);
    background: #8B008B;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpoTelaInicial a:active{
    height: 82px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid rgb(95, 2, 95);
    background: rgb(190, 41, 190);
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}